.containerFull{
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  min-height: 60vh;
}
.fullWidth{
  justify-self: center;
  height: 85%;
  width: 97%;
  max-width: 100vw;
  max-height: 100vh;
}
.upperContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
  margin-bottom: 12px;

}
.cityName{
  grid-column: 1;
}
.leadText{
  font-size: 26px;
  margin-right: 20px;
}
.center {
  align-self: center;
  justify-self: center;
}
.grid{
  display: grid;
}
.imgSize{
  width: 5%;
}
@media (max-width: 500px) {
  .upperContainer {
    margin-bottom: 22px;
  }
}

