<div class="upperContainer">
  <mat-card class="grid">
    <ng-container *ngIf="loading; else notSpin2" class="cityName">
      <mat-progress-spinner [diameter]="30" class="center" [color]="'warn'" [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-container>
    <ng-template #notSpin2>
    <div >
      <span class="leadText">{{city}}</span><span class="leadText">{{closest.temp}}</span>

      <ng-container [ngSwitch]="type">
        <img class="imgSize" *ngSwitchCase="'Clear'" src="../assets/sun1.png" alt=""/>
      </ng-container>
    </div>
    </ng-template>
  </mat-card>
</div>
<mat-card class="containerFull">
  <mat-progress-spinner class="center" [color]="'warn'" [mode]="'indeterminate'" *ngIf="loading; else notSpin"></mat-progress-spinner>
  <ng-template #notSpin>
  <div class="fullWidth">
    <mat-card-title style="margin-top: 12px">Temperature chart</mat-card-title>
    <ngx-charts-bar-vertical
      [results]="temp"
      [scheme]="colorScheme"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Time"
      yAxisLabel="Temp">
      <ng-template #tooltipTemplate let-model="model">
        <p>Time: {{model.name}}</p>
        <p>Temperature: {{model.value}}</p>
      </ng-template>
    </ngx-charts-bar-vertical>
  </div>
  </ng-template>
</mat-card>
